@import "tailwindcss";
.fc-daygrid-day-number {
  font-size: 1.5rem !important; /* lg */
  font-weight: 600;
  color: #111827; /* gray-900 */
}

/* Texto dentro de los eventos */
.fc-event-title {
  font-size: 1.3rem !important; /* base */
  font-weight: 500;
}
